.tabs_container {
    width: 1300px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    /* Set a fixed width for better alignment */
}

.tabs label {
    order: 1;
    display: block;
    padding: 1rem 3rem;
    cursor: pointer;
    background: #a4d1cc;
    font-size: 20px;
    font-weight: bold;
    transition: background-color ease 0.4s;
    margin: 0;
    color: #222b52;
}

.tabs label:nth-of-type(1) {
    border-radius: 40px 0 0 40px;
}

.tabs label:nth-of-type(2) {
    border-radius: 0 40px 40px 0;
}

.tabs .tab {
    order: 99;
    position: absolute;
    top: 60px;
    /* Adjust this value if needed to position below tabs */
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    margin-top: 30px;
}

.tabs input[type="radio"] {
    display: none;
}

/* 
        .tabs input[type="radio"]:checked+label {
            background: #38bc4c;
        } */

.tabs input[type="radio"]:checked+label+.tab {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    display: block;
    position: static;
}

.card-slider {
    position: absolute;
    opacity: 0.5;
    top: 6px;
    left: 347px;
    height: 50px;
    background-color: rgba(46, 72, 99, 0.4);
    z-index: 0;
    transition: all 0.3s ease;
    border-radius: 30px;
}

#tabone:checked~.card-slider {
    width: 180px;
    /* Adjust length to fit "LAB" */
    transform: translateX(70px);
}

#tabtwo:checked~.card-slider {
    width: 190px;
    /* Adjust length to fit "DESIGN" */
    transform: translateX(300px);
}


.card-container {
    /* 100%的窗口高度 */
    /* 弹性布局 水平+垂直居中 */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.card {
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    -webkit-flex: 1;
    /* 相对定位 */
    position: relative;
    width: 300px;
    height: 220px;
    margin: 40px;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    /* 居中 */
    align-items: center;
    color: #07243f;
    /* 阴影 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: flex 0.8s ease, background-color 0.8s ease;

    &:hover {
        box-flex: 2.5;
        -webkit-box-flex: 2.5;
        -moz-box-flex: 2.5;
        flex: 2.5;
        -webkit-flex: 2.5;
    }

}

.card .card-text {
    margin-top: 30px;

}

@font-face {
    font-family: Oswald;
    src: url('../webfonts/Oswald-VariableFont_wght.ttf');
}


.card .card-text p {
    font-size: 30px;
    font-family: 'Oswald';
    font-style: italic;
}

.card .photo .photo-1 {
    /* 保持原有尺寸比例,裁切长边 */
    object-fit: cover;
}

/* 默认大图 */

.card .photo .photo-1 {
    height: 100%;
}

.card .photo-2 {
    /* 绝对定位 */
    position: absolute;
    bottom: 10%;
    left: 30%;
    height: 80%;
    opacity: 0;
    transition: opacity 0.5s;
    border-radius: 20px;
    overflow: hidden;
}

.card-text-2 {
    position: absolute;
    right:80px;
    bottom: 50px;
    opacity: 0;
}

.card:hover {
    background: #351f0d;
}

.card:hover .card-text {
    opacity: 0;
    transition: opacity 0.5s 0.3s;
}

.card:hover .photo-2 {
    opacity: 1;
    transition: opacity 0.5s 0.3s;
}

.card:hover .card-text-2 {
    opacity: 1;
    transition: opacity 0.5s 0.3s;
}


.card:hover h1 {
    top: 170px;
}

.card h2 {
    margin-top: 220px;
    width: 80%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.card p {
    padding:  0 30px;
    width: 90%;
    font-size: 25px;
    margin-top: 50px;
    line-height: 30px;
    font-weight: 800;
}

.card a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 32px;
    border-radius: 8px;
}

.card a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

/* 鼠标移入变小图 */
.card:hover .photo {
    transform: translateX(-450px);
    height: 200px;
    transition: transform 1s, height 1s;
}

.card .photo {
    /* 绝对定位 */
    position: absolute;
    transition: transform 1s, height 1s;
    height: 120%;
    bottom: 0px;
    right: -40px;
}

.HWY {
    bottom: 0;
}

.HCY {
    bottom: 0;
}

.LJ {
    bottom: -15px !important;
    scale: 1.05;
}

.LY {
    bottom: -5px !important;
    scale: 1.05;
}

.LKX {
    bottom: 0;
}

.LRJ {
    bottom: 0;
}

.SHZ {
    bottom: 0;
}

.YYX {
    bottom: -3px !important;
    scale: 1.1;
}

.ZML {
    bottom: 2px !important;
    scale: 1.1;
}

.BJX {
    bottom: 0;
}

.CKX {
    bottom: -22px !important;
    scale: 1.05;
}

.MRY {
    bottom: -17px !important;
    scale: 1.05;
}

.CWB {
    bottom: -1px !important;
}

.WYM {
    bottom: 0;
}


/* 导师部分 */
.mentor_introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1200px;
    margin: auto;
}

.menter {
    width: 500px;
    height: 250px;
    background-color: rgb(217, 217, 217);
    z-index: 3;
    padding: 30px 10px 30px 30px;
    border-radius: 20px;
    display: flex;
    flex-wrap: space-between;
}

.menter img {
    height: 190px;
    flex: 1;
}

.menter-text {
    padding: 10px 10px 10px 20px;
    flex: 2;
}

.card-text-2 p {
    color: #fff;
font-family: 'Oswald';
font-size: 16px;
line-height: 16px;
margin: 20px 0;
}